@use "tailwindcss";
@use './app/styles/variables' as vars;

* {
  box-sizing: border-box;
  font-family: "poppins";
  background-color: vars.$gray-100;
}

.card {
  background-color: vars.$gray-200;
  border: 0.5px solid rgb(196, 196, 196);
  border-radius: 20px;
  box-shadow: 5px 6px 9px 0px rgba(110, 110, 110, 0.6);
  -webkit-box-shadow: 5px 6px 9px 0px rgba(110, 110, 110, 0.6);
  -moz-box-shadow: 5px 6px 9px 0px rgba(110, 110, 110, 0.6);
}
